/* General Reset */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Projects Page Styling */
.about-page {
  background-color: #FDF8E8;
  color: black;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column; /* Align items vertically */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Style for the navigation bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDF8E8;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

.about-me {
  text-align: left;
  margin-top: 50px;
  vertical-align: middle;
  display:flex;
  width: 1000px;
  align-items: center;
  margin-left:150px;
}

.about-me .header-box {
  margin-right:100px;
}

.about-image {
  width:400px;
  border-radius: 10px;
}

.experience-header h1 {
  text-align: left;
  margin-top: 90px;
  vertical-align: middle;
  display:flex;
  width: 1000px;
  align-items: center;
  margin-left:150px;
}

.internship-section {
  text-align: left;
  vertical-align: middle;
  display:flex;
  width: 1000px;
  align-items: left;
  margin-left:150px;   
  flex-direction: column; 
}

.experience-section {
  text-align: left;
  margin-top: 70px;
  vertical-align: middle;
  display:flex;
  width: 1000px;
  align-items: center;
  margin-left:150px;
  gap:26rem;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: left; /* Center the sections */
  align-items: left;
  gap: 4rem; /* Add space between the sections */
  background-color: #FDF8E8;
  font-size: 1rem;
  text-align: left;
  margin-top: 200px; /* Space above the footer */
  box-sizing: border-box;
}

/* Footer Section Content */
.footer-section h4 {
  margin-bottom: 0.5rem; /* Space between heading and content */
  font-size: 1.2rem;
}

.footer-section p {
  margin: 0; /* Remove default margins */
}

.footer-section a {
  color: black; /* Text color */
  text-decoration: none; /* Remove underline */
  margin-right: 0.5rem; /* Space between links */
}

.footer-section a:hover {
  text-decoration: underline; /* Underline on hover */
}